<%= link_to 'New Udid', new_udid_path, :id => "new-udid" %>

<% @udids.each do |udid| %>
  <div>
    <%= udid.name %>
    <%= udid.udid %>
    <%= link_to 'Edit', edit_udid_path(udid) %>
    <%= link_to 'Destroy', udid, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
