<%= raw header_for_page("UDIDs") %>

<p>Welcome, <%= @user.screen_name %>.</p>

<% if @udids.count == 0 then %>
	<p>It looks like you don't have any UDIDs added yet. Add one below.</p>
<% end %>

<h2>Your UDIDs</h2>
<table>
	<thead>
		<tr>
			<th>
				Device Name
			</th>
			<th>
				UDID
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<% @udids.each do |udid| %>
	<tr>
		<td>
			<%= udid.name %>
		</td>
		<td>
			<%= udid.udid %>
		</td>
		<td>
			<%= link_to 'Delete', udid, :confirm => 'Are you sure you want to delete this UDID?', :method => :delete, :class => "btn danger" %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
		</td>
		<td>
		</td>
		<td>
			<%= link_to 'Add New UDID...', new_udid_path, :class => "btn primary" %>
		</td>
	</tr>

</table>

<h2>Friends UDIDs</h2>

<% @friends.each do |friend| %>
<h3><%= friend.name %> <small><%= friend.screen_name %></small></h3>
<table>
	<thead>
		<tr>
			<th>
				Device Name
			</th>
			<th>
				UDID
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<% friend.udids.each do |udid| %>
	<tr>
		<td>
			<%= udid.name %>
		</td>
		<td>
			<%= udid.udid %>
		</td>
	</tr>
	<% end %>
</table>
<% end %>

