<%= raw header_for_page("Your UUIDs") %>

<p>Welcome, <%= @user.screen_name %>.</p>

<% if @udids.count == 0 then %>
	<p>It looks like you don't have any UDIDs added yet. Add one below.</p>
<% end %>

<table>
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				UDID
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<% @udids.each do |udid| %>
	<tr>
		<td>
			<%= udid.name %>
		</td>
		<td>
			<%= udid.udid %>
		</td>
		<td>
			<%= link_to 'Edit', edit_udid_path(udid), :class => "btn info" %>
			<%= link_to 'Delete', udid, :confirm => 'Are you sure you want to delete this UDID?', :method => :delete, :class => "btn danger" %>
		</td>
	</tr>
	<% end %>

	<tr>
		<td>
		</td>
		<td>
		</td>
		<td>
			<%= link_to 'Add New UDID...', new_udid_path, :class => "btn primary" %>
			<%= link_to 'Sign Out', {:action => :destroy, :controller => :session}, :class => "btn" %>
		</td>
	</tr>

</table>

