<%= raw header_for_page("Search") %>


<% if @users && !@users.empty? %>
  <% @users.each do |user| %>
    <%= link_to twitter_user_url(user) do %>
      <div>
        <%= user.name %>
        <%= user.screen_name %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>No users found with that name.</p>
<% end %>

<%= form_for :twitter_user, :url => search_url do |f| %>
   <%= text_field_tag :q %>
   <%= submit_tag "Search", :class => "btn" %>
 <% end %>