<%= raw header_for_page() %>

<h2><%= @user.screen_name %></h2>

<p>
  <%= link_to h("#{@user.screen_name} on twitter"), "http://twitter.com/#{h(@user.screen_name)}" %>
</p>

<table>
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				UDID
			</th>
		</tr>
	</thead>
	<% @user.udids.each do |udid| %>
	<tr>
		<td>
			<%= udid.name %>
		</td>
		<td>
			<%= udid.udid %>
		</td>
	</tr>
	<% end %>
</table>
