<p>UDIDirectory is a free, public list of people who are willing to share their device UDIDs.</p>

<h2>For Users</h2>
<p>Users can sign in with twitter and add the UDIDs of your device(s). This lets developers find them, so they can create builds for you without asking.</p>

<h2>For Developers</h2>
<p>Developers can search the database for the UDIDs of users they want to send beta builds to.</p>

<div id="login">
	<%= form_tag "/auth/twitter", :method => 'get' do %>
  <%= image_submit_tag "signinwithtwitter.png", :name => "commit", :value => "Sign in" %>
	<% end %>
</div>

<div id="search">
  <%= form_for :twitter_user, :url => search_url do |f| %>
    <%= text_field_tag :q %>
    <%= submit_tag "BONGO" %>
  <% end %>
</div>
