<%= raw header_for_page("Start", false) %>

<h2>Sweet!</h2>

<div class="row">
  <div class="span8">
    <h3>Welcome to UDIDirectory</h3>

    <p>
      We wanted to make this really simple, so there are only two steps.
      Sign in and paste your UDID. After that, you can look for friends 
      who have public UDIDs and send them builds.
    </p>

    <p>
      To continue, click the button below.
    </p>

    <%= form_tag "/auth/twitter", :method => 'get' do %>
      <%= submit_tag "Sign in with Twitter",  :class => "btn primary large" %>
    <% end %>
  </div>

  <div class="span6">
    <h5>1. Privacy.</h5>
    <p>
      You are making your UDID public. <%= TwitterUser.count %> people have already done 
      so include all of the developers of this site. However, if you are 
      curious what privacy implications there are, you can read about them 
      in our <%= link_to "faq", faq_url(:anchor => "private") %>.
    </p>

    <h5>2. Trust.</h5>
    <p>
      Only install apps from someone you trust. Seriously. Mean people can 
      code too and they have heard about Twitter. Learn more about in on our 
      <%= link_to "faq", faq_url(:anchor => "private") %>.
    </p>
  </div>
</div>
