<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>UDIDirectory</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="layout">	
		<div id="doc">
		  <div id="hd">
		    <h1><a href="/">UDIDirectory</a></h1>
				<h2>your gateway to dangerous, unsolicited betas</h2>
		  </div>
		  <div id="bd">
		    <p class="notice"><%= notice %></p>
		    <div>
		      <%= yield %>
		    </div>
		  </div>
			<div id="layout_footer"></div>
		</div>
	</div>
<div id="footer">
	<p>Created by <a href="http://twitter.com/patr1ck">@patr1ck</a> and <a href="http://twitter.com/pm">@pm</a>. Source available on <a href="#">github</a></p>
</div>
<%= javascript_include_tag :application %>
<script type="text/javascript">
  <%= yield :javascripts %>
</script>
</body>
</html>
